<div class="app-modal">
  <div class="app-modal-header" *ngIf="simpleActions; else standardHeader">
    <div class="grid-row grid-row-3 grid-gap-20">
      <h1 class="left-title" [class.fs18]="!isFullScreen">{{pdfTitle}}</h1>
      <div class="grid-column-span-2 aright">

        <div class="flex-row flex-row-inline pr40 mr30 pt5">
          <a href="javascript:void(0)"
             class="simple-btn simple-btn-md simple-btn-icon text-blue icon-bg pr15"
             (click)="onEmailClick()">
            <i class="icon-mail-1"></i>
            <span class="pl10">{{'contact_information.email' | translate}}</span>
          </a>
          <a href="javascript:void(0)"
             class="simple-btn simple-btn-md simple-btn-icon text-blue icon-bg"
             *ngIf="!disableFax"
             (click)="onFaxClick()"
          >
            <i class="icon-fax"></i>
            <span class="pl10">{{'contact_information.fax' | translate}}</span>
          </a>
        </div>

      </div>
    </div>
    <a href="javascript:void(0)"
       *ngIf="!disableActions"
       [class.mt10]="isFullScreen"
       [class.mt5]="!isFullScreen"
       class="app-modal-close-icon" (click)="onCloseClick()"></a>
  </div>
  <ng-template #standardHeader>
    <div class="app-modal-header">
      <div class="mobile-adaptive-grid mobile-adaptive-grid-300 grid-gap-10">
        <h1 class="left-title" [class.fs18]="!isFullScreen">{{pdfTitle}}</h1>
        <div class="grid-column-span-2" [class.aright]="isFullScreen">

          <div class="flex-row flex-row-inline">
            <ng-template *ngTemplateOutlet="chartStatus"></ng-template>
            <ng-template *ngTemplateOutlet="chartActions"></ng-template>
          </div>

        </div>
      </div>
      <a href="javascript:void(0)"
         *ngIf="!disableActions"
         class="app-modal-close-icon mt5" (click)="onCloseClick()"></a>
    </div>
  </ng-template>

	<div class="app-modal-toolbar" *ngIf="clientNotes">
		<ng-container >
			<div class="grid-row grid-gap-20 grid-row-8"  [formGroup]="viewerFormGroup">
				<div class="grid-column-span-2">
					<div *ngIf="!isReview">
						<label class="input-label">{{ 'case.case' | translate }}</label>
						<dx-select-box
                           formControlName="caseId"
                           [dataSource]="caseDropdown"
                           displayExpr="name"
                           valueExpr="id"
                           [searchEnabled]="true"
                           fieldTemplate="inputField"
                           readOnly="true"
            >
							<div *dxTemplate="let data of 'item'">
								<div>{{data?.name}}</div>
							</div>
							<div *dxTemplate="let data of 'inputField'">
								<dx-text-box value='{{data?.name}} '></dx-text-box>
							</div>
						</dx-select-box>
					</div>
					<div *ngIf="isReview">
						<label class="input-label">{{ 'practitioner.practitioner' | translate }}</label>
						<dx-select-box
							formControlName="practitionerId" [dataSource]="practitionerDropdown" displayExpr="name"
							[searchEnabled]="true" valueExpr="id" fieldTemplate="inputField">
							<div *dxTemplate="let data of 'item'">
								<div>{{data?.fullName}}</div>
							</div>
							<div *dxTemplate="let data of 'inputField'">
								<dx-text-box value='{{data?.fullName}} '></dx-text-box>
							</div>
						</dx-select-box>
					</div>
				</div>
				<div class="grid-column-span-4 acenter">
					<label class="input-label acenter">{{ 'general.document_name' | translate }}</label>
					<div class="flex-row flex-row-inline w100">
						<div>
							<a href="javascript:void(0)"
								[class.disabled]="!currentIndex"
								(click)="onPreviousNoteClick()"
								class="simple-btn simple-btn-icon" title="{{'general.prev' | translate}}">
								<i class="icon-left-open"></i>
							</a>
						</div>
						<div class="max pl10 pr10">
							<dx-select-box
                             formControlName="chartNoteId"
                             [dataSource]="chartNoteDropdown"
                             displayExpr="documentDescription"
                             [searchEnabled]="true"
                             valueExpr="chartNoteId"
                             fieldTemplate="inputField"
                             (onValueChanged)="onNoteSelected($event)"
              >
								<div *dxTemplate="let data of 'item'">
									<div>
										{{data?.documentDescription}} {{formatTodate(data?.appointmentDateTime)}}
									</div>
								</div>
								<div *dxTemplate="let data of 'inputField'">
									<dx-text-box value='{{data?.documentDescription}} {{formatTodate(data?.appointmentDateTime)}}'></dx-text-box>
								</div>
							</dx-select-box>
						</div>
						<div>
							<a href="javascript:void(0)"
								[class.disabled]="currentIndex === null || currentIndex === (chartNoteDropdown?.length - 1)"
								(click)="onNextNoteClick()"
								class="simple-btn simple-btn-icon" title="{{'general.next' | translate}}">
								<i class="icon-right-open"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="grid-column-span-2">
				</div>
			</div>
		</ng-container>
	</div>

	<div class="app-modal-content" [ngClass]="{'loader-overlay loading': (pdfLoading$ | async) }">
    <div *ngIf="!base64 && !(pdfLoading$ | async)" class="flex-row justify-center h100 acenter">
      <div>
        <img src="assets/images/file-not-found.svg" style="max-width:550px;" class="mb20 w100 plr30" alt="File not found"><br>
        <span class="text-medium fs17">{{'error.pdf_not_found' | translate}}</span>
      </div>
    </div>

    <div class="pspdfkit-container" ></div>

		<!--<ngx-extended-pdf-viewer *ngIf="base64"
			[base64Src]="base64"
			backgroundColor="#ffffff"
      zoom="page-width"
			[showOpenFileButton]="false"
			[showPrintButton]="true"
			[useBrowserLocale]="true"
			[handTool]="false"
			[showHandToolButton]="true"
			[language]="language"
			[showBookmarkButton]="false"
			(pdfDownloaded)="pdfDownloadedReport()"
			(afterPrint)="afterPrintReport()"
		>
		</ngx-extended-pdf-viewer>-->

	</div>
</div>

<ng-template #chartStatus>

	<div class="flex-row fs13" *ngIf="!!selectedNote">
		<div class="flex-row text-dark" [class.pr40]="isFullScreen" [class.pr20]="!isFullScreen">
			<span class="mr10" *ngIf="isFullScreen">{{'chart_note.client_access' | translate}}:</span>
			<i
				[class.icon-lock-2]="selectedNote?.clientAccessLevel?.id === accessLevel.NoAccess"
				[class.icon-unlocked]="selectedNote?.clientAccessLevel?.id === accessLevel.ReadAccess || selectedNote?.clientAccessLevel?.id === accessLevel.ReadWriteAccess"

				[class.text-danger]="selectedNote?.clientAccessLevel?.id === accessLevel.NoAccess"
				[class.text-warning]="selectedNote?.clientAccessLevel?.id === accessLevel.ReadAccess"
				[class.text-success]="selectedNote?.clientAccessLevel?.id === accessLevel.ReadWriteAccess"
			></i>
			<span *ngIf="selectedNote?.clientAccessLevel?.id === accessLevel.NoAccess">{{'chart_note.no_access' | translate}}</span>
			<span *ngIf="selectedNote?.clientAccessLevel?.id === accessLevel.ReadAccess">{{'chart_note.read_access'|translate}}</span>
			<span *ngIf="selectedNote?.clientAccessLevel?.id === accessLevel.ReadWriteAccess">{{'chart_note.read-write-access'|translate}}</span>
		</div>
		<div class="flex-row text-dark"  [class.pr40]="isFullScreen" [class.pr20]="!isFullScreen">
			<span class="mr10" *ngIf="isFullScreen">Status:</span>

			<span class="text-label fs13"
				[class.low]="selectedNote?.chartNoteStatus===chartNoteStatus.Completed"
				[class.warning]="selectedNote?.chartNoteStatus===chartNoteStatus.Draft || selectedNote?.chartNoteStatus===chartNoteStatus.IDBPersisted"
				[class.success]="selectedNote?.chartNoteStatus===chartNoteStatus.SignedOff"
			>
				<span *ngIf="selectedNote?.chartNoteStatus===chartNoteStatus.Draft">{{'status.draft'|translate}}</span>
				<span *ngIf="selectedNote?.chartNoteStatus===chartNoteStatus.Completed">{{'chart_note.status-completed'|translate}}</span>
				<span *ngIf="selectedNote?.chartNoteStatus===chartNoteStatus.SignedOff">{{'chart_note.status-signedOff'|translate}}</span>
				<span *ngIf="selectedNote?.chartNoteStatus===chartNoteStatus.IDBPersisted">{{'chart_note.status-notSaved'|translate}}</span>
			</span>
		</div>
	</div>
</ng-template>

<ng-template #chartActions>

  <div *ngIf="isFullScreen && selectedNote" class="flex-row justify-space-between pl40">

    <a href="javascript:void(0)"
       class="simple-btn simple-btn-lg simple-btn-rounded simple-btn-primary bigger-side-pads"
       *ngIf="showSignOffButton()"
       [class.disabled]="!isPractitioner || !selectedNote?.isSignOffRequired"
       (click)="signOffChartNote()">
      {{'general.sign_off' | translate}}
    </a>

    <a href="javascript:void(0)"
       *ngIf="showEditButton()"
       class="simple-btn simple-btn-lg simple-btn-icon"
       [class.disabled]="selectedNote?.chartNoteStatus === chartNoteStatus.SignedOff || disableEdit || selectedNote?.documentType?.id === docTypes.ExerciseProgram"
       title="{{'actions.edit' | translate}}"
       (click)="onEditChartNoteClick()">
      <i class="icon-edit-1"></i>
    </a>

    <dx-drop-down-button #pdfActionsDD
                         *ngIf="!hideActionsButton && selectedNote"
                         [useSelectMode]="false"
                         [showArrowIcon]="false"
                         [deferRendering]="true"
                         stylingMode="text"
                         dropDownContentTemplate="contentTemplate"
                         [dropDownOptions]="{width: 230}"
    >
      <div *dxTemplate="let button of 'item'">
        <a href="javascript:void(0)" class="vam simple-btn simple-btn-md simple-btn-icon fs23"
           (click)="$event.stopPropagation(); pdfActionsDD.opened = !pdfActionsDD.opened"><i class="icon-more"></i></a>
      </div>
      <div *dxTemplate="let item of 'contentTemplate'">
        <ul class="dropdown-menu" (click)="pdfActionsDD.opened =false">
          <li><a href="javascript:void(0)" (click)="onEmailClick()"><i class="icon-email"></i>
            <span>{{'contact_information.email' | translate}}</span></a></li>
          <li><a href="javascript:void(0)" (click)="onFaxClick()"><i class="icon-fax"></i>
            <span>{{'contact_information.fax' | translate}}</span></a></li>
          <li><a href="javascript:void(0)" (click)="onNewTaskClick()"
                 *ngIf="createTaskAction"><span>{{'task.create_task' | translate}}</span></a></li>
        </ul>
      </div>
    </dx-drop-down-button>
  </div>


  <div *ngIf="!isFullScreen && !disableActions" class="flex-row justify-space-between">


    <a href="javascript:void(0)" class="vam simple-btn simple-btn-xs simple-btn-secondary-grey simple-btn-rounded"
       (click)="onFullScreenClick()">{{'actions.full_screen' | translate}}</a>

    <dx-drop-down-button #noteMenu  *ngIf="isFullScreen"
                         [useSelectMode]="false"
                         [showArrowIcon]="false"
                         [deferRendering]="true"
                         stylingMode="text"
                         icon=" icon-more"
                         dropDownContentTemplate="contentTemplate"
                         [dropDownOptions]="{width: 230}"
    >
      <div *dxTemplate="let button of 'item'">
        <a href="javascript:void(0)" class="vam simple-btn simple-btn-md simple-btn-icon"
           (click)="$event.stopPropagation();noteMenu.opened = !noteMenu.opened"><i class="icon-more"></i></a>
      </div>
      <div *dxTemplate="let item of 'contentTemplate'">
        <ul class="dropdown-menu" (click)="noteMenu.opened =false">
          <!--          <li *ngIf="curClient?.contactInformation?.email">
                      <a  href="javascript:void(0)"
                          title="{{'client.email_client' | translate}}"
                          (click)="onEmailClick()">
                        {{'client.email_client' | translate}}
                        <i class="icon-email"></i>
                      </a>
                    </li>-->
          <li *ngIf="curClient?.contactInformation?.fax">
            <a href="javascript:void(0)"
               title="{{'client.fax_client' | translate}}"
               (click)="onFaxClick()">
              {{'client.fax_client' | translate}}
              <i class="icon-fax"></i>
            </a>
          </li>
          <li *ngIf="!hideEditButton && selectedNote?.chartNoteStatus !== chartNoteStatus.SignedOff && !disableEdit">
            <a href="javascript:void(0)"
               [class.disabled]="selectedNote?.documentType?.id === docTypes.ExerciseProgram"
               title="{{'actions.edit' | translate}}"
               (click)="onEditChartNoteClick()">
              {{'actions.edit' | translate}}
              <i class="icon-edit"></i>
            </a>
          </li>
          <li *ngIf="!hideEditButton && isPractitioner && (selectedNote?.documentType?.id === docTypes.PortalForm || selectedNote?.documentType?.id === docTypes.SmartDoc)
                && selectedNote?.chartNoteStatus !== chartNoteStatus.SignedOff">
            <a href="javascript:void(0)"
               title="{{'chart_note.sign_off_chart_note' | translate}}"
               (click)="signOffChartNote()">
              {{'chart_note.sign_off_chart_note' | translate}}
              <i class="icon-ok-circled"></i>
            </a>
          </li>
        </ul>
      </div>
    </dx-drop-down-button>

  </div>


</ng-template>





