@main_bk_color: #6f7063;

@header_gradient_color_1: #179ba9;
@header_gradient_color_2: #23bdcd;
@header_border_color: #69ecfa;

@footer_gradient_color_1: #383838;
@footer_gradient_color_2: #252525;

@red: #c82f2f;
@orange: #ffb746;
@blue: #1065a1;
@cyan: #00a6ba;

@dgrey: #1f1f1f;
@text_grey: #6a6762;
@text_black: #1f1f1f;
@text_footer_color: #A0A0A0;
@lgrey: #a0a0a0;
@llgrey: #e6e6e6;

@button_red_gradient_color_1: #ff3535;
@button_red_gradient_color_2: #c92f2f;
@button_red_border_color: #FF3939;

@button_cyan_gradient_color_1: @header_gradient_color_2;
@button_cyan_gradient_color_2: @header_gradient_color_1;


@range_slider_point_gradient_color_1: #1FEAFF;
@range_slider_point_gradient_color_2: #1BC3D5;
@range_slider_bk: #9F9F9F;

@fs_xs: 8pt;
@fs_sm: 11pt;
@fs_md: 14pt;
@fs_lg: 18pt;
@fs_xl: 22pt;

@screen-xs: 480px;
@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;